.form-newEmployee {
  display: flex;
  flex-direction: column;
  width: 75%;
  max-width: 500px;
  margin: 2rem auto;
  padding: 5%;
  background: var(--light);
  border-radius: 0.5rem;
  box-shadow: rgba(48, 49, 49, 0.2) 0px 8px 24px !important;
}

.form-newEmployee--ico {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto 2.5rem;
}

.form-newEmployee--inputWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

/* INPUTS ORDER */
.firstName {
  order: 1;
}

.lastName {
  order: 2;
}

.dateOfBirth {
  order: 3;
}

.startDate {
  order: 5;
}

.department {
  order: 6;
}

.submit {
  order: 7;
}

/* INPUTS STYLES */
input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 1;
  filter: invert(0.4);
}

.form-newEmployee--inputWrapper label {
  font-weight: 700;
  color: var(--primary);
}

.form-newEmployee--inputWrapper input,
select {
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--tertiary);
  border-radius: 0.25rem 0.25rem 0 0;
  color: grey;
  font-size: 1rem;
  font-weight: 100;
}

.form-newEmployee--inputWrapper select::-webkit-scrollbar {
  width: 5px;
}

.form-newEmployee--inputWrapper select::-webkit-scrollbar-thumb {
  background: var(--light);
}

.form-newEmployee--inputWrapper select:focus {
  outline: none;
  background-color: var(--secondary);
  color: var(--light);
}

.form-newEmployee--inputWrapper select:focus option:checked {
  background: var(--primary) !important;
}

/* ADDRESS GROUP */
.form-newEmployee--addressContainer {
  position: relative;
  order: 4;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--disabled);
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  background-color: var(--disabled);
}

.form-newEmployee--addressGroup {
  position: absolute;
  top: -1.25rem;
  right: -1px;
  font-weight: 100;
  padding: 0 0.5rem;
  background-color: var(--disabled);
  border-radius: 0.5rem 0.5rem 0 0;
  font-family: 'Open Sans Condensed';
  color: var(--primary);
  text-align: right;
}

/* SUBMIT */
.form-newEmployee--submit {
  display: block;
  margin: 2rem auto 0;
  width: 100px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--tertiary);
  color: var(--light);
  cursor: pointer;
}

.form-newEmployee--submit:disabled,
.form-newEmployee--submit[disabled],
.form-newEmployee--submit:disabled:hover,
.form-newEmployee--submit[disabled]:hover {
  background-color: var(--disabled);
  color: var(--tertiary);
  cursor: not-allowed;
}
/* MODAL */
.modal-close{
  width: 30px;
  margin-left: 350px;
}
.modal-text{
  text-align: center;
  font-size: 30px;
}


.span-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* ADAPTATIVE */
@media screen and (max-width: 1260px) {
  .table-main--sorter {
    padding-left: 0;
    display: block;
  }
}

@media screen and (max-width: 375px) {
  /* FORM */
  .form-newEmployee--addressContainer select {
    font-size: small;
  }

  .form-newEmployee--inputWrapper select option,
  .form-newEmployee--addressContainer option {
    font-size: x-small;
  }
}