/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');
/* COLORS */
:root {
  --dark: #483e37;
  --primary: #999379;
  --secondary: #9aa674;
  --tertiary-constrast: #bec7a3;
  --tertiary: #c1d488;
  --disabled: #ccde8c;
  --light: #fff;
  --bg: #bbbbbb;
  --error: #ff6060;
}
/* BODY */
body {
  background: var(--bg);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--dark);
}
/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body::-webkit-scrollbar-track {
  background: var(--bg);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--secondary) !important;
}
/* TITLES */
h1,
h2,
h3 {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
  color: var(--secondary);
}
h1:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px var(--secondary);
}
h2 {
  color: var(--primary);
  border-radius: 0.25rem;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
  color: var(--dark);
}

#page-title {
  color: var(--dark);
  width: fit-content;
  margin: 2rem auto;
  padding: 0.5rem;
}
/* LINKS */
a {
  text-decoration: none;
}
/* ELEMENTS */
button {
    border: none;
    cursor: pointer;
  }
  
  select {
    outline: none;
  }
  
  /* ACCECIBILITY */
  h2:focus,
  div:focus {
    outline: none;
    box-shadow: 0 0 0 1.5px var(--primary);
  }
  
  h3:focus,
  input:focus,
  select:focus,
  button:focus,
  td:focus {
    outline: none;
    box-shadow: 0 0 0 1.5px var(--tertiary-constrast);
    border-radius: 0.25rem;
  }
  
  span:focus {
    outline: none;
    box-shadow: 0 0 0 1.5px var(--primary);
  }
  
  th:focus {
    outline: 3px solid var(--dark);
    border-radius: 0.25rem;
  }
  
  /* ERROR message */
  .error-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* ADAPTATIVE */
  @media screen and (max-width: 1260px) {
    .table-main--sorter {
      padding-left: 0;
      display: block;
    }
  }
  
  @media screen and (max-width: 968px) {
    /* TABLE PAGE */
    .table {
      width: 100%;
    }
  
    /* TABLE MAIN */
    .table-main {
      border-radius: 0;
      overflow-x: scroll;
      overflow-y: hidden;
    }
  
    /* corners */
    .table-main--list thead :first-child :first-child {
      border-top-left-radius: 0;
    }
  
    .table-main--list thead :first-child :last-child {
      border-top-right-radius: 0;
    }
  
    .table-main--list tbody :last-child :first-child {
      border-bottom-left-radius: 0;
    }
  
    .table-main--list tbody :last-child :last-child {
      border-bottom-right-radius: 0;
    }
  
    /* table */
    .table-main--list {
      width: 100%;
      border-radius: 0;
      border-collapse: separate;
      background-color: transparent;
      font-size: small;
    }
  
    /* horizontal scrollbar */
    .table-main::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
  
    .table-main::-webkit-scrollbar-track {
      background-color: transparent;
    }
  
    .table-main::-webkit-scrollbar-thumb {
      background-color: var(--tertiary) !important;
    }
  
    /* TABLE FOOTER */
    .table-footer {
      width: 90%;
      margin: 0 auto 2rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    /* NAVBAR */
    nav {
      width: unset;
      display: flex;
      flex-direction: column;
    }
  
    .nav-menu {
      width: unset;
    }
  
    .nav-item {
      justify-content: center;
    }
  
    /* TABLE */
    .table-header {
      flex-direction: column;
      height: 125px;
    }
  
    .table-footer {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 375px) {
    /* FORM */
    .form-newEmployee--addressContainer select {
      font-size: small;
    }
  
    .form-newEmployee--inputWrapper select option,
    .form-newEmployee--addressContainer option {
      font-size: x-small;
    }
  
    /* TABLE */
    .table-footer--nav {
      display: flex;
    }
  }