/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap");

/* COLORS */
:root {
    --dark: #483e37;
    --primary: #6c6753;
    --secondary: #8d9379;
    --tertiary-constrast: #bec7a3;
    --tertiary: #cad3ae;
    --disabled: #eef1e3;
    --light: #fff;
    --bg: #fafbf9;
    --error: #ff6060;
}

/* BODY */
body {
    background: #fafbf9;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: var(--dark);
}

/* SCROLLBAR */
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--bg);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary) !important;
}

/* TITLES */
h1,
h2,
h3 {
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
}

h1 {
    color: var(--secondary);
}

h1:focus {
    outline: none;
    box-shadow: 0 0 0 1.5px var(--secondary);
}

h2 {
    color: var(--primary);
    border-radius: 0.25rem;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    color: var(--secondary);
}

#page-title {
    width: fit-content;
    margin: 2rem auto;
    padding: 0.5rem;
}

/* LINKS */
a {
    text-decoration: none;
}
